<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <nav id="navbar">
           
       <a href="/"><img class="logo" src="images/logo-mercado-liebre.svg" alt="aqui va el logo"></a>

            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

            <script src="https://cdnjs.cloudflare.com/ajax/libs/react-is/18.2.0/umd/react-is.production.min.js"
                integrity="sha512-69vv9jhQmV57vnri8OKCU0N5F85/6W1fFSjd349lyC5z7PViFNNCA4qOz12qc4pAcBIEJfCBjSDriy023suLtQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
                integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />

            <form action="">
                <div class="box">
                    <div class="container-1">
                        <input type="search" id="search" placeholder="Buscar productos, marcas" />
                        <span class="icon"><i class="fa fa-search"></i></span>
                    </div>
            </form>
            </div>
            <h2 id='opcion'><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </nav>

        <div class="mainseccion">

            <ul class="secciones-izquierda">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda </li>
            </ul>

            <ul class="secciones-derecha">
<div class="vinculo-register">
             <a href="/register"><li>Creá tu cuenta<i class="fa-solid fa-id-card"> </i></li></a></div>

             <a href="/login"><li>Ingresá<i class="fa-solid fa-right-to-bracket"> </i></li></a>

                <li>Mis compras<i class="fa-solid fa-basket-shopping"> </i></li>
            </ul>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <main>

        <img class="homebanner" src="\images\img-home-banner.jpg" alt="">
 
        <div><h2 class="informacion">Basado en tu última visita</h2></div>

        <div class="main">
           
           

            <article>
            <img class="productos" src="images\img-cafetera-moulinex.jpg" alt="imagen cafetera">
                <div class="below-article">
                    <div class="logo-article">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                    <p class='precios'>$6.770</p>
                    <p style="color: green;" class='descuentos'>OFF</p></div>
                    <p class="nombre-prod">Cafetera Moulinex</p>
                </div>
            </article>

            <article>
                <img class="productos" src="images\img-macbook-pro-2019.jpg" alt="imagen cafetera">
                <div class="below-article">
                    <div class="logo-article">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                    <p class='precios'>$230.000</p>
                    <p style="color: green;" class='descuentos'>20% off</p></div>
                    <p class="nombre-prod">MacBook Pro 2019</p>
                </div>
            </article>

            <article>
                <img class="productos" src="images\img-samsung-galaxy-s10.jpg" alt="imagen cafetera">
                <div class="below-article">
                    <div class="logo-article">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                    <p class='precios'>$70.500</p>
                    <p style="color: green;" class='descuentos'>10% off</p></div>
                    <p class="nombre-prod">Samsung Galaxy S10</p>
                </div>
            </article>

            <article>
                <img class="productos" src="images\img-tv-samsung-smart.jpg" alt="imagen cafetera">
                <div class="below-article">
                    <div class="logo-article">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                    <p class='precios'>$23.200</p>
                    <p style="color: green;" class='descuentos'>5% off</p></div>
                    <p class="nombre-prod">SmartTv Samsung 43"</p>
                </div>
            </article>

           
           
           <div> <h2 class="informacion">Seccion Ofertas</h2> </div>

           
           <article>
                <img class="productos" src="images\img-cafetera-moulinex.jpg" alt="imagen cafetera">
                <div class="below-article">
                    <div class="logo-article">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                    <p class='precios'>$6.770</p>
                    <p style="color: green;" class='descuentos'>OFF</p></div>
                    <p class="nombre-prod">Cafetera Moulinex</p>
                </div>
            </article>
           
            <article>
                <img class="productos" src="images\img-macbook-pro-2019.jpg" alt="imagen cafetera">
                <div class="below-article">
                    <div class="logo-article">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                    <p class='precios'>$230.000</p>
                    <p style="color: green;" class='descuentos'>20% off</p></div>
                    <p class="nombre-prod">MacBook Pro 2019</p>
                </div>
            </article>

            <article>
                <img class="productos" src="images\img-samsung-galaxy-s10.jpg" alt="imagen cafetera">
                <div class="below-article">
                    <div class="logo-article">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                    <p class='precios'>$70.500</p>
                    <p style="color: green;" class='descuentos'>10% off</p></div>
                    <p class="nombre-prod">Samsung Galaxy S10</p>
                </div>
            </article>

            <article>
                <img class="productos" src="images\img-tv-samsung-smart.jpg" alt="imagen cafetera">
                <div class="below-article">
                    <div class="logo-article">
                        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <div class="precios-descuentos">
                    <p class='precios'>$23.200</p>
                    <p style="color: green;" class='descuentos'>5% off</p></div>
                    <p class="nombre-prod">SmartTv Samsung 43"</p>
                </div>
            </article>
           
           </main>
    

    <footer>
        <div class="footertext">
            <div class='logosfooter'></div>

            <a href="/"><i class="fa-solid fa-credit-card fa-2xl" style="color: #005eff;"></i>

            <div><h2 class='footer-info'>Pagá con tarjeta o en efectivo</h2></div>

                <p class='registrado'> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                <div class='logosfooter'></div>

                <a href="/"><i class="fa-solid fa-gift fa-2xl" style="color: #005eff;"></i>

                 <div><h2 class='footer-info'> Envío gratis desde $ 2.500</h2></div>

                 <div>   <p class='registrado'> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p></div>

                    <div class='logosfooter'></div>

                <a href="/"><i class="fa-solid fa-user-shield fa-2xl" style="color: #005eff;"></i>

                 <div>   <h2 class='footer-info'> Seguridad de principio a fin.</h2></div>

                 <div>   <p class='registrado'>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                        porque estas siempre protegido</p></div>
        </div>
    </footer>
</body>

</html>